.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    flex: 0 0 auto;
    margin-right: 15px;
}

.component {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.info {
    height: 200;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.linkedin.com%2Fposts%2Fjeff-henderson-04b57317b_drake-goat-helpdesk-activity-6973462809040883712-DEQJ&psig=AOvVaw32T5alTEYGkXtvb8liZZck&ust=1720139343373000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCNDupMaQjIcDFQAAAAAdAAAAABAE)
}

.something {
    background-image: ;
}

.gif{
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: fit-content;
    margin-left: auto;
    margin-right:auto;
}